<link rel="stylesheet" href="/css/about.css">
<div class="content">
<img src="/images/ancient.jpeg" alt="">
<p class='aboutcontent'>The guitar is an ancient and noble instrument, whose history can be traced back over 4000 years. Many theories have been advanced about the instrument's ancestry. It has often been claimed that the guitar is a development of the lute, or even of the ancient Greek kithara. Research done by Dr. Michael Kasha in the 1960's showed these claims to be without merit. He showed that the lute is a result of a separate line of development, sharing common ancestors with the guitar, but having had no influence on its evolution. The influence in the opposite direction is undeniable, however - the guitar's immediate forefathers were a major influence on the development of the fretted lute from the fretless oud which the Moors brought with them to to Spain.
The sole "evidence" for the kithara theory is the similarity between the greek word "kithara" and the Spanish word "quitarra". It is hard to imagine how the guitar could have evolved from the kithara, which was a completely different type of instrument - namely a square-framed lap harp, or "lyre".
It would also be passing strange if a square-framed seven-string lap harp had given its name to the early Spanish 4-string "quitarra". Dr. Kasha turns the question around and asks where the Greeks got the name "kithara", and points out that the earliest Greek kitharas had only 4 strings when they were introduced from abroad. He surmises that the Greeks hellenified the old Persian name for a 4-stringed instrument, "chartar".
</p>

</div>