<link rel="stylesheet" href="/css/home.css">
<div class="contain">
  <div class="sidebar">
    <div class="title">
      <h4>GUITAR RESOURCES</h4>
    </div>
    <hr>
    <div class="newsletter">
      <h5>NEWSLETTER</h5>
    </div>
    <div class="artist">
      <h5>ARTIST</h5>
    </div>
    <div class="forum">
      <h5>FORUM</h5>
    </div>
    <div class="demo">
      <h5>VIDEO DEMO</h5>
    </div>
  </div>
  <div class="main">
    <div class="imagecontainer">
      <img height='600px' id='mainimage' src="/images/logo1.jpg" alt="">
    </div>
  </div>
</div>
<script src="/js/home.js" charset="text/javascript"></script>

