<link rel="stylesheet" href="/css/home.css">
<div class="contain">
  <div class="sidebar">
    <h4>SIDEBAR</h4>
  </div>
  <div class="main">
    <h4>MAIN</h4>
    this is the main page
  </div>
</div>
