<link rel="stylesheet" href="/css/products.css">
<h3>Products</h3>
<div class="contain">
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
  <div class="product">
    <div class="item">
      
    </div>
  </div>
</div>