<link rel="stylesheet" href="css/products.css">
<h3>Products</h3>
<div class="contain">
  <div class="product">
    <div class="item">
      <img src="images/guitar-alto.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-axl.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-fenderfa135.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-gibsonstandard.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-lespaul.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-mario.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-prisma.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-prs2017.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-rouge.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-russo.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-russoacoustic.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="item">
      <img src="images/guitar-takamine.jpg" alt="">
      <div class="discription">
        <p>2017 ALTO GUITAR MINT CONDITION</p>
        <button type="button" name="button">BUY!</button>
      </div>
    </div>
  </div>
</div>