.content{
  margin: 0;
  padding: 0;
  background-color: turquoise;
}
.content > p {
  width: 70vw;
  margin: 0;
  padding: 0;
  text-align: justify;
  display: block;
  margin: 0 auto;
  padding: 50px;
}
img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: 27px;
}