h3{
  text-align: center;
}
.contain{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.product{
  width: 400px;
  height: 600px;
  background-color: turquoise;
  margin: 20px;
}
.item{
  width: 380px;
  height: 570px;
  padding-top: 10px;
  margin: 10px;
  background-color: teal;
}
img{
  display: block;
  margin: 0 auto;
  width: 300px;
  height: auto;
}
.discription{
  background-color: whitesmoke;
  width: 300px;
  height: 240px;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
p{
  text-align: justify;
  padding: 10px;
}
button{
  width: 100px;
  height: 30px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
button:hover{
  background-color: rgba(1,1,1,.8);
  box-shadow: none;
  border: 0px;
  color: white;
  
}